<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>1510 Kinney Ave Austin TX 78704</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "4238023931" %></p>

        <h3>Email</h3>

        <p><a href="mailto:johndaugherty1986@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>
